*{
  scroll-behavior: smooth;
}

.leading {
  opacity: 0.75;
}

.container{
  width: 100vw;
  height: 85vh;
  background-color: hsl(232, 100%, 40%);
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: unset;  
}
