@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');


.textt{
  font-size: 1.5rem;
  color: #d4af37;
  font-style: italic;
  font-family: 'Stint Ultra Condensed', cursive;
  /* background-color: hsla(232, 100%, 40%, 0.616); */
}